<section class="section-recepcion">
  <div class="img-recepcion">
      <img class="image-recep" src="../../../assets/imagenes/menu-img.png" alt="Representación de atención en recepción">
  </div>
  <div class="div-button-login">
      <img class="imagen-hotel-alura" src="../../../assets/imagenes/aH-150px.png" alt="Logo del Hotel Alura">
      <button class="button-login" id="Login" (click)="buttonLogin()">
          <div>
              <h1 class="title">
                  LOGIN
              </h1>
              <img class="image-login" src="../../../assets/imagenes/login.png" alt="Imagen de representación de una persona ">
          </div>
      </button>
  </div>
</section>
<footer>
  <section class="footer-developer">
      <p>
          Desarrollado Por Aristobulo Briceño © 2023
      </p>
  </section>
</footer>
