<body>
  <section class="conten-menu">
      <div class="menu">
          <img class="imagen-menu" src="../../../assets/imagenes/aH-150px.png" alt="logo hotel alura">
          <div class="separador"></div>
          <nav>
              <ul>
                  <li>
                      <div class="menu-item">
                          <img class="icon-item" src="../../../assets/imagenes/reservado.png" alt="icono de registro">
                          <a class="text-parrafo-menu" href="/registro-de-reserva">Registro de Reservas</a>
                      </div>
                  </li>
                  <li>
                      <div class="menu-item">
                          <img class="icon-item" src="../../../assets/imagenes/pessoas.png" alt="icono de busqueda">
                          <a class="text-parrafo-menu" href="/sistema-de-busqueda">Busqueda</a>
                      </div>
                  </li>
              </ul>
          </nav>
      </div>
      <div>
          <div class="header-menu">
              <div class="sub-title-header">
                  <h2 class="text-sub-title">Sistema De Reservas Hotel Alura</h2>
              </div>
              <div>
                  <h1 class="text-title">Hoy es 12/09/2022</h1>
              </div>
          </div>

          <div class="body-menu">
              <h2 class="text-sub-title" style="color: black;">Bienvenido </h2>
              <br>
              <p class="text-parrafo">Sistema de reserva de hotel. Controle y administre de forma óptima y fácil el flujo de reservas y de huespédes del hotel</p>
              <br>
              <p class="text-parrafo">Esta herramienta le permitirá llevar un control completo y detallado de sus reservas y huéspedes, tendrá acceso a herramientas especiales para tareas específicas como lo son:</p>
              <br>
              <ul>
                  <li class="text-parrafo">- Registro de Reservas y Huéspedes</li>
                  <br>
                  <li class="text-parrafo">- Edición de Reservas y Huéspedes existentes</li>
                  <br>
                  <li class="text-parrafo">- Eliminar todo tipo de registros</li>
              </ul>
          </div>
      </div>
  </section>
</body>

